* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}

body {
  font-family: "Raleway", sans-serif;
}

.divider {
  border: solid 1px #DADADA;
}

main {
  max-width: 68.125vw;
  margin: 0 auto;
  font-optical-sizing: auto;
  font-style: normal;
  color: #262626;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.208vw;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: #262626;
  z-index: 999;
}
.header__nav {
  margin: 0 auto;
  max-width: 68.125vw;
  height: 5.208vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}
.header__logo {
  display: flex;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-size: clamp(1rem, 0.6479rem + 1.1268vw, 2rem);
  font-weight: 600;
  margin: 0 auto;
}
.header__menu {
  position: relative;
  display: flex;
  justify-items: start;
  flex: 1;
  align-items: center;
  font-optical-sizing: auto;
  font-style: normal;
}
.header__menu-list {
  display: flex;
  gap: 2.5vw;
  font-size: clamp(0.625rem, 0.5556rem + 0.3704vw, 1rem);
  font-weight: 500;
}
.header__menu-icons {
  display: flex;
  flex: 1;
  justify-content: end;
  margin: 0 auto;
  gap: 3.686vw;
  align-items: center;
}
.header__menu-icons img {
  width: 1.3vw;
  z-index: 8;
}
.header__menu-search {
  position: relative;
  height: 32px;
  max-width: 260px;
}
.header__menu-search-icon {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 20px;
  height: 20px;
}
.header__menu-search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  padding-right: 60px;
}
.header__menu-search-input::placeholder {
  font-family: "Raleway", sans-serif;
}

.placard {
  display: flex;
  position: relative;
  max-width: 68.125vw;
  margin: 13vw auto 0;
  overflow: visible;
}
.placard__content {
  width: 33.021vw;
}
.placard__title {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: clamp(2rem, 1.2958rem + 2.2535vw, 4rem);
  font-style: normal;
  background: linear-gradient(to right, #37943C, #1DBAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.placard__subtitle {
  margin-top: -0.313rem;
  font-weight: 400;
  font-size: clamp(0.625rem, 0.5093rem + 0.6173vw, 1.25rem);
  line-height: 100%;
}
.placard__desprition {
  margin-top: 1rem;
  font-weight: 400;
  font-size: clamp(0.5rem, 0.3239rem + 0.5634vw, 1rem);
  line-height: 1.1875rem;
}
.placard__button {
  display: inline-block;
  margin-top: 1.25rem;
  width: 35.27%;
  height: 19.14%;
  border-radius: 1.563vw;
  font-weight: 400;
  font-size: clamp(0.625rem, 0.4049rem + 0.7042vw, 1.25rem);
  font-optical-sizing: auto;
  background-color: white;
  color: #262626;
  border-image-source: linear-gradient(to right, #37943C, #1DBAD6);
  border: 3px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #37943C, #1DBAD6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}
.placard__button:hover {
  background-image: linear-gradient(to right, #37943C, #1DBAD6);
  color: #ffffff;
}
.placard__decoration {
  position: absolute;
  display: inline-block;
  left: 26.25vw;
  top: -9vw;
  width: 70%;
  background-image: url(../assets/icons/placard-decoration-background\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
  pointer-events: none;
}
.placard__product {
  position: relative;
  display: inline-block;
  top: 1.721vw;
  left: 12.833vw;
  z-index: 1;
}
.placard__product-img {
  width: 29vw;
  height: auto;
  display: block;
}
.placard__product-img2 {
  width: 7.292vw;
  position: relative;
  display: inline-block;
  top: -19.792vw;
  left: 2.031vw;
  z-index: 2;
  display: block;
}
.placard__product-img3 {
  width: 7.292vw;
  position: relative;
  display: inline-block;
  top: -13.802vw;
  left: 21.917vw;
  z-index: 2;
  display: block;
}

.offers {
  margin-top: 12.879vw;
  align-items: center;
}
.offers-h1 {
  display: flex;
  justify-content: center;
  color: #262626;
  opacity: 0.6;
  margin: 3.75rem auto 0;
  font-size: clamp(0.625rem, 0.1666666667rem + 2.037037037vw, 2rem);
}
.offers__grid {
  margin-top: 1.597vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}
.offers__icons-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5vw;
  height: 5vw;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.offers__icons-center-img {
  width: 100%;
  height: auto;
  display: block;
}
.offers__card1 {
  background-image: url(/frontend/assets/icons/Property\ 1=Default.png);
  width: 100%;
  height: 11.708vw;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.offers__card1:hover {
  background-image: url(/frontend/assets/icons/Property\ 1=on.png);
}
.offers__card2 {
  background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(2\).png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.offers__card2:hover {
  background-image: url(/frontend/assets/icons/Property\ 1=on\ \(1\).png);
}
.offers__card3 {
  background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(3\).png);
  width: 100%;
  height: 11.708vw;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.offers__card3:hover {
  background-image: url(/frontend/assets/icons/Property\ 1=on\ \(2\).png);
}
.offers__card4 {
  background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(1\).png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease;
}
.offers__card4:hover {
  background-image: url(/frontend/assets/icons/Property\ 1=on\ \(3\).png);
}

.how-it-works {
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
  gap: 2.5rem;
}

.scheme {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.scheme-title {
  background: linear-gradient(to right, #1DBAD6, #37943C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: clamp(0.0625rem, -0.6666666667rem + 3.2407407407vw, 2.25rem);
}
.scheme-subtitle {
  margin-top: 0.625rem;
}
.scheme__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 11.125rem;
  text-align: right;
}
.scheme__left:last-child {
  margin-bottom: 8.3125rem;
}
.scheme__right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10rem;
}
.scheme__right:first-child {
  margin-bottom: 8.375rem;
}
.scheme__right-second {
  margin-top: 8.75rem;
}

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.instruction-text {
  font-weight: 400;
  font-size: 14px;
  color: #7d7d7d;
}

.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.about-product__button {
  display: inline-block;
  width: auto;
  margin-top: 1.25rem;
  padding: 0.875rem 3.125rem;
  border-radius: 1.563vw;
  border: 3px solid transparent;
  cursor: pointer;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
}

.subscriptions {
  padding: 0.3125rem 0.3125rem 1.25rem;
  border-radius: 1.5625rem;
}
.subscriptions__name {
  padding-top: 1.25rem;
  text-align: center;
  font-size: clamp(1rem, 0.6666666667rem + 1.4814814815vw, 2rem);
  color: #ffffff;
  font-weight: bold;
}

.left {
  background: linear-gradient(to right, #37943C, #1DBAD6);
}

.right {
  background: linear-gradient(to right, #C7E122, #1BC54E);
}

.about-product__card {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 1.4375rem;
  background-color: white;
  padding: 2.5rem 3.125rem 3.75rem;
  gap: 1.25rem;
}
.about-product__card .img__wrapper {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.about-product__card .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-product__card .card__header {
  display: flex;
  gap: 1.25rem;
  align-items: flex-end;
  padding-bottom: 0.375rem;
}
.about-product__card .card__header h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: clamp(0.0625rem, -0.6666666667rem + 3.2407407407vw, 2.25rem);
}
.about-product__card .card__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
.about-product__card .card__main div {
  display: flex;
  justify-content: space-between;
}
.about-product__card .card__main div p {
  font-weight: bold;
}
.about-product__card .card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 0;
}
.about-product__card .card__footer p {
  font-weight: bold;
}

.mobile {
  margin: 3.75rem 0;
}
.mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  background: linear-gradient(to right, #DA4E50, #1982AC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: clamp(0.75rem, -0.3333333333rem + 4.8148148148vw, 4rem);
}

.content__main {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.container-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.content__features {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.gradient-button {
  position: relative;
  display: inline-block;
  color: black;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  padding: 10px 40px;
}
.gradient-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(to right, #1982AC, #DA4E50);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.gradient-button--instruction {
  padding: 12px 60px;
}
.gradient-button--instruction::before {
  background: linear-gradient(to right, #37943C, #1DBAD6);
}
.gradient-button--big {
  padding: 20px 80px;
  font-size: 1.2rem;
}
.gradient-button--big::before {
  background: linear-gradient(to right, #00C3FF, #FFFF1C);
}

.download-button {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.hero {
  margin-top: 12.5rem;
  background-image: url("../assets/icons/error404-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  aspect-ratio: 1/0.35;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.hero__title {
  background: linear-gradient(to right, #37943C, #1DBAD6);
  font-size: clamp(6.25rem, 4.1666666667rem + 9.2592592593vw, 12.5rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-family: "Jost", sans-serif;
}
.hero__subtitle {
  text-align: center;
}
.hero__buttons {
  display: flex;
  gap: 2.5rem;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-title {
  background: linear-gradient(to right, #37943C, #1DBAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: clamp(0.625rem, -0.5rem + 5vw, 4rem);
}
.mission-text {
  font-size: clamp(0.0625rem, -0.25rem + 1.3888888889vw, 1rem);
  max-width: 75%;
  margin-top: 0.625rem;
  padding-bottom: 1.875rem;
}
.mission-btn {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
.faq h1 {
  margin-bottom: 1.875rem;
}
.faq-container {
  display: flex;
  justify-content: center;
  gap: 1.625rem;
}
.faq-title {
  background: linear-gradient(to right, #37943C, #1DBAD6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
  font-size: clamp(0.625rem, -0.5rem + 5vw, 4rem);
}
.faq-text {
  font-size: clamp(0.0625rem, -0.25rem + 1.3888888889vw, 1rem);
  max-width: 75%;
  padding-bottom: 1.875rem;
}
.faq-btn {
  margin-top: 1.875rem;
}

.faq__right {
  max-width: 200%;
}

.item {
  position: relative;
  background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  background: #f1f1f1;
}

.answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answer {
  padding: 1.3rem;
  background: #fff;
}

.item.animate {
  animation: bounceIn 0.5s ease-out;
  margin-bottom: 0;
}

@keyframes bounceIn {
  0% {
    transform: translateY(0px);
  }
  66% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bounceInTriangle {
  0% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(195deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes bounceOutTriangle {
  0% {
    transform: rotate(180deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.arrow {
  display: inline-block;
  width: 25px;
  height: 13px;
  margin-left: 10px;
}

.arrow.animate-in {
  animation: bounceInTriangle 0.7s ease-out forwards;
}

.arrow.animate-out {
  animation: bounceOutTriangle 0.7s ease-out forwards;
}

footer {
  background: linear-gradient(to right, #37943C, #1DBAD6);
  color: white;
  margin-top: 7.5rem;
  padding: 90px 80px 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-family: sans-serif;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
  max-width: 68.125vw;
}

.footer__column h4 {
  margin-bottom: 0.9375rem;
  font-weight: semibold;
  font-size: clamp(0.0625rem, -0.25rem + 1.3888888889vw, 1rem);
}

.footer__column-ad h4 {
  margin-bottom: 0.9375rem;
  font-weight: semibold;
  font-size: clamp(0.0625rem, -0.2083333333rem + 1.2037037037vw, 0.875rem);
  margin-bottom: 0.3125rem;
}

.footer__column-ad a {
  font-family: "Jost", sans-serif;
  color: #f1f1f1;
}

.footer__column-ad p {
  margin: 10px 0;
  font-weight: normal;
  font-size: clamp(0.0625rem, -0.2083333333rem + 1.2037037037vw, 0.875rem);
  margin-top: 0;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column li {
  margin-bottom: 0.625rem;
}

.footer__column a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: normal;
  font-size: clamp(0.0625rem, -0.2083333333rem + 1.2037037037vw, 0.875rem);
}

.footer__column a:hover {
  color: #ffffff;
}

.footer__bottom {
  font-family: "Jost", sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
}

.footer__bottom h2 {
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 10px;
}

.footer__bottom p {
  font-size: 14px;
  opacity: 50%;
}

/*# sourceMappingURL=styles.css.map */
