@use 'function';
@use 'mixin' as *;

$dark: #262626;
$light: #ffffff;
$green: #37943C;
$blue: #1DBAD6;
$brown: #5F4216;
$green_turquoise: linear-gradient(to right, #37943C, #1DBAD6);
$blue_red: linear-gradient(to right, #DA4E50, #1982AC);
$yellow_green: linear-gradient(to right, #ECAA00, #54D61D);
$black_gray: linear-gradient(to right, #262626, #808080);
$blue_turquoise: linear-gradient(to right, #1DBAD6, #37943C);
$divide_line: #DADADA;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark;
}

body {
  font-family: "Raleway", sans-serif;
}

.divider{
  border: solid 1px $divide_line;
}

main {
  max-width: 68.125vw;
  margin: 0 auto;
  font-optical-sizing: auto;
  font-style: normal;
  color: $dark;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.208vw;
  background-color: $light;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  color: $dark;
  z-index: 999;

  &__nav {
    margin: 0 auto;
    max-width: 68.125vw;
    height: 5.208vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
  }

  &__logo {
    display: flex;
    justify-content: center;
    font-family: "Jost", sans-serif;
    font-size: clamp(1rem, 0.6479rem + 1.1268vw, 2rem);
    font-weight: 600;
    margin: 0 auto;
  }

  &__menu {
    position: relative;
    display: flex;
    justify-items: start;
    flex: 1;
    align-items: center;
    font-optical-sizing: auto;
    font-style: normal;

    &-list {
      display: flex;
      gap: 2.5vw;
      font-size: clamp(0.625rem, 0.5556rem + 0.3704vw, 1rem);
      font-weight: 500;
    }

    &-icons {
      display: flex;
      flex: 1;
      justify-content: end;
      margin: 0 auto;
      gap: 3.686vw;
      align-items: center;

      img {
        width: 1.30vw;
        z-index: 8;
      }
    }

    &-search {
      position: relative;
      height: 32px;
      max-width: 260px;

      &-icon {
        position: absolute;
        top: 20%;
        right: 5%;
        width: 20px;
        height: 20px;
      }

      &-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 14px;
        background-color: #f1f1f1;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
        padding-left: 20px;
        padding-right: 60px;
      }

      &-input::placeholder {
        font-family: "Raleway", sans-serif;
      }
    }
  }
}

.placard {
  display: flex;
  position: relative;
  max-width: 68.125vw;
  margin: 13vw auto 0;
  overflow: visible;

  &__content {
    width: 33.021vw;
  }

  &__title {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: clamp(2rem, 1.2958rem + 2.2535vw, 4rem);
    font-style: normal;
    background: $green_turquoise;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  &__subtitle {
    margin-top: -0.313rem;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.5093rem + 0.6173vw, 1.25rem);
    line-height: 100%;
  }

  &__desprition {
    margin-top: 1rem;
    font-weight: 400;
    font-size: clamp(0.5rem, 0.3239rem + 0.5634vw, 1rem);
    line-height: 1.1875rem;
  }

  &__button {
    display: inline-block;
    margin-top: 1.25rem;
    width: 35.27%;
    height: 19.14%;
    border-radius: 1.563vw;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.4049rem + 0.7042vw, 1.25rem);
    font-optical-sizing: auto;
    background-color: white;
    color: $dark;
    border-image-source: $green_turquoise;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), $green_turquoise;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  &__button:hover {
    background-image: $green_turquoise;
    color: $light;
  }

  &__decoration {
    position: absolute;
    display: inline-block;
    left: 26.25vw;
    top: -9vw;
    width: 70%;
    background-image: url(../assets/icons/placard-decoration-background\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    pointer-events: none;
  }

  &__product {
    position: relative;
    display: inline-block;
    top: 1.721vw;
    left: 12.833vw;
    z-index: 1;

    &-img {
      width: 29vw;
      height: auto;
      display: block;
    }

    &-img2 {
      width: 7.292vw;
      position: relative;
      display: inline-block;
      top: -19.792vw;
      left: 2.031vw;
      z-index: 2;
      display: block;
    }

    &-img3 {
      width: 7.292vw;
      position: relative;
      display: inline-block;
      top: -13.802vw;
      left: 21.917vw;
      z-index: 2;
      display: block;
    }
  }
}

.offers {
  margin-top: 12.879vw;
  align-items: center;

  &-h1 {
    display: flex;
    justify-content: center;
    color: #262626;
    opacity: 0.6;
    margin: function.rem(60) auto 0;
    @include fluid-text(32, 10);
  }

  &__grid {
    margin-top: 1.597vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
  }

  &__icons-center {
    position: absolute;
    top: 50%;;
    left: 50%;
    width: 5vw;
    height: 5vw;
    transform: translate(-50%, -50%);
    z-index: 2;

    &-img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__card1 {
    background-image: url(/frontend/assets/icons/Property\ 1=Default.png);
    width: 100%;
    height: 11.708vw;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;

    &:hover {
      background-image: url(/frontend/assets/icons/Property\ 1=on.png);
    }
  }

  &__card2 {
    background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(2\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;

    &:hover {
      background-image: url(/frontend/assets/icons/Property\ 1=on\ \(1\).png);
    }
  }

  &__card3 {
    background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(3\).png);
    width: 100%;
    height: 11.708vw;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;

    &:hover {
      background-image: url(/frontend/assets/icons/Property\ 1=on\ \(2\).png);
    }
  }

  &__card4 {
    background-image: url(/frontend/assets/icons/Property\ 1=Default\ \(1\).png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;

    &:hover {
      background-image: url(/frontend/assets/icons/Property\ 1=on\ \(3\).png);
    }
  }
}

.how-it-works{
  display: flex;
  flex-direction: column;
  margin-top: function.rem(60);
  gap: function.rem(40);
}

.scheme{
  @include flex-between;
  gap: function.rem(20);

  &-title{
    background: $blue_turquoise;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    @include bold-text;
    @include fluid-text(36, 1);
  }
  &-subtitle{
    margin-top: function.rem(10);
  }
  &__left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: function.rem(178);
    text-align: right;

    &:last-child{
      margin-bottom: function.rem(133);
    }
  }

  &__right{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: function.rem(160);

    &:first-child{
      margin-bottom: function.rem(134);
    }

    &-second{
      margin-top: function.rem(140);
    }
  }
}
.instruction{
  @include flex-center;
  flex-direction: column;
  &-text{
    font-weight: 400;
    font-size: 14px;
    color: #7d7d7d;
  }
}


.about-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: function.rem(30);

  &__button {
    display: inline-block;
    width: auto;
    margin-top: 1.25rem;
    padding: function.rem(14) function.rem(50);
    border-radius: 1.563vw;
    border: 3px solid transparent;
    cursor: pointer;
  }
}

.cards_wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
}

.subscriptions{
  padding: function.rem(5) function.rem(5) function.rem(20);
  border-radius: function.rem(25);

  &__name{
    padding-top: function.rem(20);
    text-align: center;
    @include fluid-text(32, 16);
    color: $light;
    @include bold-text
  }
}

.left{
  background: $green_turquoise;
}

.right{
  background: linear-gradient(to right, #C7E122, #1BC54E);
}


.about-product__card{
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: function.rem(23);
  background-color: white;
  padding: function.rem(40) function.rem(50) function.rem(60);
  gap: function.rem(20);

  .img__wrapper{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card{
    &__header{
      @include flex-x;
      gap: function.rem(20);
      align-items: flex-end;
      padding-bottom: function.rem(6);

      h1{
        @include gradient-text;
        @include fluid-text(36, 1);
      }
    }

    &__main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: function.rem(20);
      div{
        @include flex-between;

        p{
          @include bold-text;
        }
      }
    }

    &__footer{
      @include flex-between;
      padding: function.rem(5) 0;

      p{
        @include bold-text;
      }
    }
  }
}

.mobile{
  margin: function.rem(60) 0;

  &__container{
    @include flex-between;
    align-items: center;
  }
}

.main-title{
  background: $blue_red;
  @include gradient-text;
  @include fluid-text(64, 12);
}

.content__main{
  display: flex;
  flex-direction: column;
  gap: function.rem(10);
}

.container-content{
  display: flex;
  flex-direction: column;
  gap: function.rem(40);
}

.content__features{
  display: flex;
  flex-direction: column;
  gap: function.rem(40);
}

.gradient-button {
  position: relative;
  display: inline-block;
  color: black;
  background: transparent;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  padding: 10px 40px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit; // Совпадает с родителем
    padding: 2px;
    background: linear-gradient(to right, #1982AC, #DA4E50); // Базовый градиент
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  // Модификатор для мобильной кнопки
  &--instruction {
    padding: 12px 60px;

    &::before {
      background: $green_turquoise; // НОВЫЙ градиент рамки
    }
  }

  // Ещё пример — большой вариант с другим градиентом
  &--big {
    padding: 20px 80px;
    font-size: 1.2rem;

    &::before {
      background: linear-gradient(to right, #00C3FF, #FFFF1C); // Ещё другой градиент
    }
  }
}


.download-button{
  display: flex;
  align-items: center;
  gap: function.rem(40);
}




.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  &-title{
    background: $green_turquoise;
    @include gradient-text;
    font-weight: bold;
    @include fluid-text(64, 10);
  }
  &-text{
    @include fluid-text(16, 1);
    max-width: 75%;
    margin-top: function.rem(10);
    padding-bottom: function.rem(30);
  }
  &-btn{
    margin-top: function.rem(30);
    margin-bottom: function.rem(30);
  }
  &-img{}
}



.faq{
  h1{
    margin-bottom: function.rem(30);
  }
  &-container{
    display: flex;
    justify-content: center;
    gap: function.rem(26);
  }
  &-title{
    background: $green_turquoise;
    @include gradient-text;
    font-weight: bold;
    @include fluid-text(64, 10);
  }
  &-text{
    @include fluid-text(16, 1);
    max-width: 75%;
    padding-bottom: function.rem(30);
  }
  &-btn{
    margin-top: function.rem(30);
  }
}

.faq__right {
      max-width: 200%;
    }

    .item {
      position: relative;
      background: white;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 0;
    }

    .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.3rem;
      cursor: pointer;
      font-weight: bold;
      background: #f1f1f1;
    }

    .answer-wrapper {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    .answer {
      padding: 1.3rem;
      background: #fff;
    }

    .item.animate{
      animation: bounceIn 0.5s ease-out;
      margin-bottom: 0;
    }

    @keyframes bounceIn {
      0% {
        transform: translateY(0px);
      }
      66% {
        transform: translateY(3px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    @keyframes bounceInTriangle {
      0% {
        transform: rotate(0deg);
      }
      66% {
        transform: rotate(195deg);
      }
      100% {
        transform: rotate(180deg);
      }
    }

    @keyframes bounceOutTriangle {
      0% {
        transform: rotate(180deg);
      }
      66% {
        transform: rotate(-15deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }

    .arrow {
      display: inline-block;
      width: 25px;
      height: 13px;
      margin-left: 10px;
    }

    .arrow.animate-in {
      animation: bounceInTriangle 0.7s ease-out forwards;
    }

    .arrow.animate-out {
      animation: bounceOutTriangle 0.7s ease-out forwards;
    }






  footer {
  background: $green_turquoise;
  color: white;
  margin-top: function.rem(120);
  padding: 90px 80px 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  font-family: sans-serif;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
  max-width: 68.125vw;
}

.footer__column h4 {
  margin-bottom: function.rem(15);
  font-weight: semibold;
  @include fluid-text(16, 1);
}

.footer__column-ad h4{
  margin-bottom: function.rem(15);
  font-weight: semibold;
  @include fluid-text(14, 1);
  margin-bottom: function.rem(5);
}

.footer__column-ad a{
  font-family: "Jost", sans-serif;
  color: #f1f1f1;
}

.footer__column-ad p{
  margin: 10px 0;
  font-weight: normal;
  @include fluid-text(14, 1);
  margin-top: 0;
}

.footer__column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column li {
  margin-bottom: function.rem(10);
}

.footer__column a {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: normal;
  @include fluid-text(14, 1);
}

.footer__column a:hover {
  color: #ffffff;
}

.footer__bottom {
  font-family: "Jost", sans-serif;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 90px;
}

.footer__bottom h2 {
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 10px;
}

.footer__bottom p {
  font-size: 14px;
  opacity: 50%;
}
